@import 'base/normalize';
@import 'base/globales';
@import 'base/variables';

body{
    font-family: $fuente_principal;
}

h1{
    font-family: $fuente_principal;
}

h2{    
    font-family: $fuente_principal;
}