.header{

    background-color: $verde;
    
    .contenido-header{
        padding: $separacion / 2 0; //es como un calc de 5 - 2 rem
        
        @include telefono{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }

    h1{
        cursor: pointer;
        color: $blanco;
        margin-bottom: 1rem;
        text-align: center;
        @include tablet{
            margin-bottom: 0;
        }
        //@include nuevoMixin(uppercase, 3rem);
    }
}

.navegacion-principal{

    display: flex;
    gap: 2rem;
    justify-content: space-around;
    column-gap: 2rem;
    a{
        color: $blanco;
        //@include nuevoMixin(lowercase, 2rem);
        &:hover{                //toma al a y cuando tenga el hover...el & toma al elemento que lo rodea
            color: $amarillo;
        }
    }
}